@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
    .scrollbar-custom::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .scrollbar-custom::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb {
        background: #9c9c9c;
        border-radius: 10px;
    }

    .scrollbar-custom::-webkit-scrollbar-thumb:hover {
        background: #777777;
    }
}